@media (max-width: 1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
  .collection__image {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .top__slider-title {
    font-size: 62px;
    line-height: 74px;
  }
  .top__slider-img {
    height: 640px;
  }
}

@media (max-width: 992px) {
  .gallery__items {
    gap: 10px;
  }
  .gallery__btn {
    padding: 6px 9px;
    margin: 0px 3px;
  }
  .footer__info {
    width: 380px;
  }
}

@media (max-width: 840px) {
  .top__inner::after {
    height: 100%;
  }
  .top__slider-title {
    font-size: 44px;
    line-height: 54px;
  }
  .top__slider-img {
    height: 540px;
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
  .works-path__item {
    width: 350px;
  }
  .works-path__item--production {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
  .menu {
    padding-left: 0px;
    padding-right: 0px;
  }
  .logo {
    margin: 0;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__info {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer__info-text {
    max-width: 100%;
  }
  .footer__menu {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__social {
    margin-left: auto;
    margin-right: auto;
  }
  .decor {
    padding: 70px 0 55px;
  }
  .works-path__item--measurements {
    margin-left: 100px;
  }
  .gallery__buttons {
    display: grid;
  }
  .gallery__btn {
    margin-bottom: 15px;
  }
}

@media (max-width: 650px) {
  .top__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .top__slider-item {
    .top__slider-img {
      display: none;
    }
  }
  .top__slider-text {
    margin-bottom: 15px;
  }
  .works-path__items-box {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }
  .works-path__items-box::before,
  .works-path__item--measurements::before,
  .works-path__item--production::after {
    display: none;
  }
  .works-path__item--measurements {
    padding-bottom: 38px;
    margin-left: 0;
  }
  .works-path__item--production {
    margin-left: 0;
    order: 1;
  }
  .works-path__item--measurements {
    padding-top: 0;
  }
  .works-path__item-text {
    min-height: 60px;
  }
  .works-path__item {
    width: 90%;
  }
}

@media (max-width: 540px) {
 .logo {
  order: -1;
  z-index: 12;
 }
 .header__inner {
  flex-wrap: wrap;
  padding-top: 42px;
 }
 .header__btn-menu {
  display: block;
  background-color: transparent;
  border: none;
  order: -1;
  z-index: 12;
  cursor: pointer;
  span {
    width: 37px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    display: block;
    margin: 6px 0;
  }
 }
 .menu {
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 11;
  text-align: center;
  transform: translateY(-350px);
  transition: all .5s;
  &--open {
    transform: translateY(30px);
  }
 }
 .menu__list {
  display: block;
 }
 .menu__list-item+.menu__list-item {
  padding-left: 0;
 }
 .menu__list-link {
  display: block;
  padding: 15px 0;
 }
 .new-collection__title {
   font-size: 28px;
   line-height: 36px;
 }
 .collection {
   grid-template-columns: repeat(1, 1fr);
 }
 %title-font {
   font-size: 28px;
   line-height: 36px;
 }
 .works-path__item-title {
   font-size: 16px;
   line-height: 27px;
 }
 .gallery__items {
   grid-template-columns: repeat(1, 1fr);
 }
 .gallery__item:first-child {
   grid-column: span 1;
   grid-row: span 1;
 }
}

@media (max-width: 375px) {
  .footer__inner {
    justify-content: space-between;
  }
  .footer__social {
    margin-left: 0;
  }
  .footer__form {
    display: block;
  }
  .footer__form-button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}